<template>
    <div class="box">
        <div class="box-header">
            <h1>Contact</h1>
        </div>
        <p>To report issues or make suggestions, open an issue on <a href="https://gitlab.com/pikatrack/pikatrack/issues">GitLab</a>.</p>

        <p>If you would like to contact me by email send an email to <a href="mailto:contact@pikatrack.com">contact@pikatrack.com</a></p>
    </div>
</template>
