<template>
    <div class="split">
        <div>
            <a :href="'/activity/' + activity['activity']['id']"><h2>{{activity['activity']['title']}}</h2></a>
            <div>
                <p>Start time: {{activity['activity']['start_time']}}</p>
                <p>End Time: {{activity['activity']['end_time']}}</p>
                <p>Distance: {{this.formatDistance(activity['activity']['distance'], activity['activity']['setting_unit'])}}</p>
                <p>Elevation: {{Math.round(activity['activity']['elevation'] * 100) / 100}}</p>
            </div>
        </div>
        <div :id="'map' + activity['activity']['id']" class="map"></div>
    </div>
</template>

<script>
    import L from 'leaflet'
    import omnivore from '@mapbox/leaflet-omnivore'
    import { Vue } from 'vue-property-decorator'

    export default Vue.extend({
        props: {
            activity: {
                type: Object,
                required: true
            }
        },
        methods: {
            formatDistance: function (distance, setting_unit) {
                if (setting_unit === 'metric') {
                    return distance.toString() + " km"
                } else {
                    return (distance * 0.62137).toFixed(2) + " mi"
                }
            }
        },
        computed: {
            api_key: function() {
                return this.$store.state.applicationSettings.application_settings
                    .find((setting) => setting.application_setting.code === 'mapbox_api_key')
                    .application_setting.text_value
            }
        },
        mounted: function () {
            var activitymap = L.map('map' + this.activity['activity']['id']).setView([51.505, -0.09], 13)
            L.tileLayer(`https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=${this.api_key}`, {
                attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
                maxZoom: 18
            }).addTo(activitymap)

            var gpxGroup = new L.FeatureGroup();

            activitymap.addLayer(gpxGroup);

            omnivore.gpx(this.activity['activity']['activity_log_url']).addTo(gpxGroup).on('ready',
                function () {
                    activitymap.fitBounds(gpxGroup.getBounds());
                }
            )
        }
    })
</script>

<style>
    .map {
        height: 300px;
        margin: -10px 0 -10px 0;
    }
    .split {
        margin-right: -20px;
    }

    /*Fixes border side bug*/
    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        border: none !important;
    }
</style>
