.btn
    border-radius: 3px
    padding: 5px 20px
    border: none

.btn-primary
    background-color: $brand-primary
    color: #fff

.focus-btn
    margin-top: 40px
    padding: 10px 20px
    background: $brand-primary
    border-radius: 3px
    border: 0
    color: white
    text-decoration: none

.button-container
    margin: 10px -10px

.button
    background-color: #eee
    padding: 5px 20px
    margin: 0 10px
    border-radius: 3px
    text-decoration: none
    color: #000

.button:hover
    cursor: pointer
